{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<h2>Recipe Detail</h2>
<h3>{{ recipe.name }}</h3>

    by: {{ recipe.author }}
    
    <br>

    {% for image in recipe.images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
    {% endfor %}

    <br>
    <br>
    <a href="{% url 'ledger:recipe_update' recipe.pk %}">
        Add picture
    </a>

    {% for ingredient in recipe.ingredients.all %}
        <ul>{{ ingredient.ingredient.name }} : {{ ingredient.quantity }} </ul>
    {% endfor %}

    <br>

    <a href="/recipe/list">
        Recipe list
    </a>

    <br>
    <br>
    <hr>
    <br>

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Logout</button>
    </form>

{% endif %}

{% endblock %}